@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');


/* Storing some properties like colour in a variable is a good idea and makes
your work fast, you can easily type in the variable name without trying to remember
the rgb or hex value of the color 
the :root is the best place to declare the variable to make it global*/
:root {
  /* -- */
}

/* let's remove the default padding and margin for every object on
the page to ensure that all margin and padding are intentional */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 
    inorder to center the page vertically and horizontally,
    we need to give the body some height and width. But 
    giving the body an exact width and height for body is bad
    so min-height and min-width is the best option so that the
    page(body) can expand when needed.
    */
  min-height: 100vh;
  min-width: 100vw;
  /* then we can now center it with flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1rem; */
  font-family: "Lexend Deca";
  /* padding: 2rem; */
}
