/* Now Let's build  */
body {
  /* let's change the text-align to default which is "start" as in text-align: start; or we can just unset it*/
  text-align: unset;
}

.main-container {
  /* the margin is obviously used to make space between the card and edge of the browser esspecial on smaller sceen  */
  margin: 2rem 1rem;
  /* arranging the image and the typoraphy side by side, as opposed to the vertical position on mobile version */
  display: flex;
  flex-direction: row-reverse;
  /* giving it a max-width so that it won't too wide on wider screens and it will shrink down when needed(on smaller screens), using width here will cause reponsiveness problem, as it will make
  make the width fixed(i.e non-reponsive) unlike using max-width. */
  max-width: 90rem;
}

.the-img {
  /* let's repeat the same thing as in the mobile background, just changing the image to the desktop background image */
  background: linear-gradient(var(--overlay), var(--overlay)),
  url(../images/image-header-desktop.jpg);
  /* background-size and background-repeat has been set to cover and no-repeat respectively on the mobile version, so no need to repeat that */

  /* unset here cancells out the previous height we set in our mobile version, just like it's name suggest */
  height: unset;
  min-width: 50%;
}

.typography {
  /* adding more space around the texts in general*/
  padding: 2rem;
  /* I intentionally put this amount of margin to Ensure that the stats/ratings still have a little space between them on small screen of about 
  769px without additional media query */
}

.stats {
  /* making the stats/rating horizontal */
  display: flex;
}

.number {
  margin: 0.5rem 0;
}

ul {
  padding: 0 0.5rem 1.5rem 1rem;
}

li {
  /* adding auto margin to the right of each stat and removing the others */
  margin: 0 auto 0 0;
}


